.card {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  z-index: 1;
}

.action {
  background-image: url(assets/images/cards/backgrounds/normal/action.png);
}

.treasure {
  background-image: url(assets/images/cards/backgrounds/normal/treasure.png);
  .full & {
    background-image: url(assets/images/cards/backgrounds/full/treasure.png);
  }
  .supply & {
    background-image: url(assets/images/cards/backgrounds/mini/treasure.png);
  }
}

.victory {
  background-image: url(assets/images/cards/backgrounds/normal/victory.png);
  .full & {
    background-image: url(assets/images/cards/backgrounds/full/victory.png);
  }
  .supply & {
    background-image: url(assets/images/cards/backgrounds/mini/victory.png);
  }
}

.curse {
  background-image: url(assets/images/cards/backgrounds/normal/curse.png);
  .full & {
    background-image: url(assets/images/cards/backgrounds/full/curse.png);
  }
}

.action.reserve {
  background-image: url(assets/images/cards/backgrounds/normal/action-reserve.png);
}

.action.duration {
  background-image: url(assets/images/cards/backgrounds/normal/action-duration.png);
}

.action.reaction {
  background-image: url(assets/images/cards/backgrounds/normal/action-reaction.png);
}

.action.treasure {
  background-image: url(assets/images/cards/backgrounds/normal/action-treasure.png);
}

.action.victory {
  background-image: url(assets/images/cards/backgrounds/normal/action-victory.png);
}

.action.shelter {
  background-image: url(assets/images/cards/backgrounds/normal/action-shelter.png);
}

.action.ruins {
  background-image: url(assets/images/cards/backgrounds/normal/action-ruins.png);
}

.action.traveller {
  background-image: url(assets/images/cards/backgrounds/normal/action-traveller.png);
}

.action.reserve.victory {
  background-image: url(assets/images/cards/backgrounds/normal/action-reserve-victory.png);
}

.action.duration.reaction {
  background-image: url(assets/images/cards/backgrounds/normal/action-duration-reaction.png);
}

.treasure.reaction {
  background-image: url(assets/images/cards/backgrounds/normal/treasure-reaction.png);
}

.treasure.victory {
  background-image: url(assets/images/cards/backgrounds/normal/treasure-victory.png);
}

.treasure.reserve {
  background-image: url(assets/images/cards/backgrounds/normal/treasure-reserve.png);
}

.victory.reaction {
  background-image: url(assets/images/cards/backgrounds/normal/victory-reaction.png);
}

.victory.shelter {
  background-image: url(assets/images/cards/backgrounds/normal/action-reserve.png);
}

.reaction.shelter {
  background-image: url(assets/images/cards/backgrounds/normal/reaction-shelter.png);
}

.name {
  margin: 3%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-family: Trajan;
    font-size: 1.5em;
    .full & {
      font-size: 1.75em;
    }
  }

  .full & {
    margin: 6%;
  }
}

.description {
  margin: 70% 10% 20% 10%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 1em;
    text-align: center;
  }
}

.types {
  position: absolute;
  bottom: 3%;
  height: 8%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Trajan;
}

.cost, .value {
  position: absolute;
}

.value {
  top: 3%;

  .full & {
    top: 4.5%;
  }
  &.left {
    left: 5%;
  }
  &.right {
    right: 6%;
  }
}

.cost {
  .full:not(.supply) .treasure & {
    bottom: 5%;
  }
  .full & {
    bottom: 4%;
  }
  .supply & {
    bottom: 1%;
  }
  bottom: 3%;
  left: 5%;
}

.card-container {
  height: 24.85em;
  width: 15.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  .supply & {
    height: 14.8em;
  }
}

.image {
  position: absolute;
  width: 92.580645161%;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;
  top: 10%;

  .full & {
    top: 11%;
  }

  .supply & {
    top: 17%;
  }
}

.card-border {
  display: flex;
  background: black;
  border-radius: 0.8875em;
  padding: 0.8875em;

  &.selected {
    background: red;
  }

  &.big {
    font-size: 2em;
  }
  &.small {
    font-size: 1em;
  }
}
