.coin {
  background-image: url(assets/images/coin.png);
  width: 1.5em;
  height: 1.5em;
  background-size: contain;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    > span {
      font-weight: 700;
    }
  }
}
