.vp {
  background-image: url(assets/images/vp.png);
  width: 1em;
  height: 1em;
  margin: 0 -0.3em;
  background-size: contain;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: bottom;
}
