.select-cards-container {
  position: absolute;
  font-size: 0.7em;
  bottom: 2em;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-area {
  position: relative;
}

.game {
  position: relative;
  width: 100em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.supplies-container {
  display: flex;
  justify-content: center;
  font-size: 0.6em;
}

.hand-container {
  display: flex;
  justify-content: center;
  font-size: 0.7em;
}

.play-state-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  width: 20%;
}

.play-area-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 0.6em;
  flex: 1;
}

.center-area {
  display: flex;
  width: 100%;
  height: 15em;
}

.input-container {
  width: 20%;
}

.card-to-show {
  z-index: 100;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  font-size: 2em;
  text-align: center;
  margin: 0.5em 0;
}
